<header class="app-header">
  <div class="header-container">
    
    <div class="brand">
      <i class="bi bi-cup-hot-fill logo-icon"></i>
      <span class="brand-name">Lua's Place</span>
    </div>

    <nav class="nav-menu">         
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Menú</a>
      <a routerLink="/pos" routerLinkActive="active" class="nav-link">Caja</a>
      <a routerLink="/kitchen" routerLinkActive="active" class="nav-link">Cocina</a>
      @if (isAdmin()) {
        <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a>
      }
    </nav>

    <div class="user-panel">
      <button class="action-btn cart-btn" (click)="cartService.toggleCart()">
        <i class="bi bi-cart-fill"></i>
        <span class="badge" *ngIf="cartService.totalItems() > 0">
          {{ cartService.totalItems() }}
        </span>
      </button>
      @if (userName && userName !== 'Barista') {
        <div class="user-info">
          <span class="greeting">Hola,</span>
          <span class="name">{{ userName }}</span>
        </div>
        
        <button class="action-btn logout" (click)="onLogout()">
          <i class="bi bi-box-arrow-right"></i>
          <span class="btn-text">Salir</span>
        </button>
        
      } @else {
        <button class="action-btn login" routerLink="/login">
          <i class="bi bi-person-fill"></i>
          <span class="btn-text">Ingresar</span>
        </button>
      }
    </div>

  </div>
</header>