html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


app-root, app-dashboard, app-login {
  display: block;
  width: 100%;
}

body {
  overflow-x: hidden;
}